[submodule "nihar-blog/themes/hugo-coder"]
	path = nihar-blog/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "nihar-blog/themes/gokarna"]
	path = nihar-blog/themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
[submodule "nihar-blog/public"]
	path = nihar-blog/public
	url = https://github.com/NiharKod/niharkod.github.io.git
	branch = main
